<%= render partial: 'layouts/menu' %>
<h1>Home</h1>
<p>Find me in app/views/home/index.html.erb</p>
<h1>
  <ul>
    <li><a href="<%= users_path%>">Users</a></li>
    <li><a href="<%= events_path%>">Events</a></li>
  </ul>
</h1>